@import "variables/sizes";
@import "mixins/grid";
@import "mixins/breakpoints";

.container {
  @mixin flexGtrCol 1, var(--default-gutter);
  position: relative;
  height: 30rem;

  @media (--viewport-min-768) {
    @mixin flexGtrCol 2, var(--default-gutter);
  }

  @media (--viewport-min-960) {
    @mixin flexGtrCol 3, var(--default-gutter);
  }
}

.backgroundImage {
  position: absolute;

  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
