@import "variables/sizes";
@import "mixins/grid";

.container {
  @mixin flexGtrCol 3, var(--default-gutter);

  position: relative;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.backgroundImage {
  position: absolute;

  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
