@import "variables/sizes";
@import "mixins/skeleton";
@import "mixins/grid";
@import "mixins/breakpoints";

.container {
  width: 100%;
  /* height: 90rem; */
  position: relative;
  background-color: var(--skeleton-background);
}

.pulse {
  @mixin skeleton var(--skeleton-background), var(--skeleton-gradient), 90rem;

  @media (--viewport-min-960) {
    @mixin skeleton var(--skeleton-background), var(--skeleton-gradient), 70rem;
  }

  @media (--viewport-min-1200) {
    @mixin skeleton var(--skeleton-background), var(--skeleton-gradient), 60rem;
  }
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @mixin flexRow var(--default-gutter);
}

.item {
  @mixin flexGtrCol 1, var(--double-default-gutter);

  box-shadow: 0 0 0 var(--default-gutter) var(--color-background);

  @media (--viewport-min-480) {
    @mixin flexGtrCol 2, var(--default-gutter);
  }

  @media (--viewport-min-960) {
    @mixin flexGtrCol 3, var(--default-gutter);
  }

  @media (--viewport-min-1200) {
    @mixin flexGtrCol 4, var(--default-gutter);
  }

  &::after {
    display: block;
    content: "";
    padding-bottom: var(--image-aspect-ratio);
  }
}
