@import "variables/sizes";
@import "variables/colors";
@import "mixins/grid";

.container {
  width: 100%;
  background-color: var(--color-brand);
}

.inner {
  @mixin contentContainer;

  height: 8rem;
}
