:root {
  /* App colors */
  --color-white: #fff;
  --color-black: #000;
  --color-text: #535964;
  --color-text-light: #696969;
  --color-yellow: #e8c030;
  --color-pink: #f358a1;
  --color-red: #e63929;
  --color-red-light: rgb(251, 123, 129);
  --color-green: #1abc8c;
  --color-green-light: rgb(144, 236, 184);
  --color-blue: #00a0d5;
  --color-background: rgb(252, 247, 243);
  --color-beige: rgb(250, 247, 245);

  /* Grey colors */
  --color-grey-extra-light: rgb(235, 235, 235);
  --color-grey-light: rgb(199, 198, 197);
  --color-grey: rgb(155, 155, 155);
  --color-grey-dark: rgb(157, 157, 157);

  /* Transparent grey. Used for shadow drops and hover effects */
  --color-shadow: rgba(0, 0, 0, 0.75);
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-transparent-grey: rgba(175, 175, 175, 0.3);
}
