:root {
  /* App colors */
  --color-white: #fff;
  --color-brand: rgb(34, 45, 52);
  --color-text: #535964;
  --color-background: rgb(252, 247, 243);

  /* Skeleton colors */
  --skeleton-gradient: #d3d3d3;
  --skeleton-background: #b8b8b8;
}
