@import "variables/sizes";

@define-mixin contentContainer {
  margin: 0 auto;
  width: 100%;
  max-width: var(--content-max-width);
  padding: 0 var(--default-gutter);
}

@define-mixin flexRow $margin: 1rem {
  display: flex;
  flex-flow: row wrap;
  margin-left: calc($margin/2 * -1);
  margin-right: calc($margin/2 * -1);
}

@define-mixin flexGtrCol $columns: 2, $gutter: 1rem {
  flex-basis: calc(1 / $columns * 100% - $gutter);
  margin: 0 calc($gutter/2) $gutter calc($gutter/2);
}
